@import url(header.css);
@import url(main.css);
@import url(exercises.css);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


.primary {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 120px;
    background-color: #000000;
}
